.card {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }

body {
  background-color: #e35d5b; /* For browsers that do not support gradients */
  background-image: linear-gradient(180deg,#e53935, #e35d5b); /* Standard syntax (must be last) */
  background-size: 100% 500px;
  background-repeat: no-repeat;
}