.iamge-head {
    background-image: url("../assets/haeder.jpg");
    background-color: #cccccc;
    height: 480px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.card {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

li .page-link{
    color: red;
}

.page-item.active .page-link {
    color: red;
    background-color: red;
    border-color: red;
}